/* html{
  margin:0;
  color:#6a6f8c;
  background:#c8c8c8;
  font:600 16px/18px 'Open Sans',sans-serif;
} */
/* .text-white{
    font-size: 20px;
} */
 
.login-wrap{
  width:100%;
  margin:auto;
  max-width:700px;
  min-height:300px;
  background-color: darkblue;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

